body {
    background-color: #282828;
}

select {
    height: 40px;
    width: 100px;
}
.button {
    border: 1px solid #5A5A5A;
    display: inline-block;
    padding: 10px;
    background-color: #CCC;
    cursor: pointer;
    height: 20px;
}
.button:hover {
    background-color: #B3B3B3;
}

#inventory-wrapper {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: #404040;
}
#inventory-wrapper div {
    width: 80px;
    height: 80px;
    margin: 10px;
    text-align: center;
    background-color: #B3B3B3;
    display: inline-block;
}
#inventory-wrapper div span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inventory-wrapper div span.selected {
    outline: 3px solid #f65058;
}