body {
    background-color: #282828;
    position: relative;
    width:  70%;
    margin: auto;
}

select {
    height: 40px;
    width: 100px;
}
.button {
    border: 1px solid #5A5A5A;
    display: inline-block;
    padding: 10px;
    background-color: #CCC;
    cursor: pointer;
    height: 20px;
}
.button:hover {
    background-color: #B3B3B3;
}

#layer-wrapper {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: #404040;
    font-size: 0;
}
#layer-wrapper .turtle {
    position: absolute;
    left: -40px;
    top: 10px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#layer-wrapper div.row div {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    background-color: #B3B3B3;
    display: inline-block;
}
#layer-wrapper div.row div span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#layer-wrapper div.row div span:hover {
    outline: 5px solid #f65058;
}

#layer-wrapper div.row div span.selected {
    background-color: #636363;
}
span {
    color: white;
}

canvas#babylon-canvas {
    width: 700px;
    height: 700px;
    position: absolute;
    right: 10px;
    top: 10px;
}